@keyframes tornarMenuVisivel {
    0% {
        font-size: 13px;
        transform: translatex(1350px);
    }

    75% {
        font-size: 14px;
    }

    100% {
        font-size: 15px;
    }
}

.menu__visivel {
    align-items: center;
    animation: tornarMenuVisivel 6s ease-in;
    background-color: rgb(12, 12, 12);
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    margin-top: 0.3rem;
    position: absolute;
    visibility: visible;
    width: 100%;
}

.lista__itens {
    text-align: center;
    width: 70px;
}

@keyframes tornarMenuNaoVisivel {
    25% {
        font-size: 15px;
    }

    50% {
        font-size: 14px;
    }

    75% {
        font-size: 13px;
    }

    100% {
        transform: translatex(1350px);
    }
}

.menu__escondido {
    align-items: center;
    animation: tornarMenuNaoVisivel 6s ease-in;
    background-color: rgb(12, 12, 12);
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    margin-top: 0.3rem;
    position: absolute;
    visibility: visible;
    width: 100%;
}

@keyframes tornarMenuVisivelParaMobile {
    0% {
        font-size: 13px;
        transform: translatex(550px);
    }

    75% {
        font-size: 14px;
    }

    100% {
        font-size: 15px;
    }
}

.menu__visivel--width {
    align-items: center;
    animation: tornarMenuVisivelMobile 6s ease-in;
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: 400px;
    justify-content: space-evenly;
    margin-left: 40%;
    margin-right: 30px;
    margin-top: 0.3rem;
    position: absolute;
    text-align: center;
    visibility: visible;
    width: 180px;
}

@keyframes tornarMenuNaoVisivelMobile {
    25% {
        font-size: 15px;
    }

    50% {
        font-size: 14px;
    }

    75% {
        font-size: 13px;
    }

    100% {
        transform: translatex(550px);
    }
}

.menu__escondido--width {
    align-items: center;
    animation: tornarMenuNaoVisivelMobile 6s ease-in;
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: 400px;
    justify-content: space-evenly;
    margin-left: 40%;
    margin-right: 30px;
    margin-top: 0.3rem;
    position: absolute;
    visibility: visible;
    width: 180px;
}

@keyframes piscar {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.informacoes__dev::after {
    animation: piscar .7s infinite;
    content: "|";
    margin-left: 5px;
    opacity: 1;
}

.foto__animacao {
    border-radius: 50px;
    height: 12em;
    transition: 4s;
    width: 12em;
}

.github__descricao::after {
    animation: piscar .9s infinite;
    content: "|";
    margin-left: 5px;
    opacity: 1;
}

.linkedin__descricao::after {
    animation: piscar .9s infinite;
    content: "|";
    margin-left: 5px;
    opacity: 1;
}

@keyframes deslocarParaDireita {
    0% {
        transform: translatex(0px);
    }

    40% {
        transform: translatex(20px);
    }

    60% {
        transform: translatex(40px);
        transition-delay: 3s;
    }

    100% {
        transform: translatex(80px);
    }
}

@keyframes deslocarParaEsquerda {
    0% {
        transform: translater(0px);
    }

    40% {
        transform: translatex(-20px);
    }

    60% {
        transform: translatex(-40px);
        transition-delay: 3s;
    }

    100% {
        transform: translatex(-80px);
    }
}

.tipo__assitir {
    animation: deslocarParaDireita 10s ease-in alternate-reverse infinite;
}

.tipo__ler {
    animation: deslocarParaEsquerda 12s ease-in alternate infinite;
}

.tipo__cultiva {
    animation: deslocarParaDireita 14s ease-in alternate-reverse infinite;
}

.encriptador__visualizar {
    opacity: 0;
}

@keyframes animacaodescricaoh2 {
    0% {
        opacity: 10%;
        visibility: visible;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes animacaocombutton {
    0% {
        opacity: 10%;
        visibility: visible;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

.encriptador__visualizar:hover {
    animation: animacaodescricaoh2, animacaocombutton both 1.5s;
}

.jogo__visualizar {
    opacity: 0;
}

.jogo__visualizar:hover {
    animation: animacaodescricaoh2, animacaocombutton both 1.5s;
}
