@keyframes encolhermenu {
    25% {
        visibility: visible;
        font-size: 15px;

    }

    50% {

        font-size: 14px;

    }

    75% {

        font-size: 13px;
    }

    100% {
        transform: translatex(1350px);
    }
}


.animation-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    position: fixed;
    margin-top: 0.3rem;
    background-color: rgb(12, 12, 12);
    border-bottom-color: #000;
    animation: encolhermenu 6s ease-in;

}


@keyframes mostarmenu {
    0% {
        font-size: 13px;
        transform: translatex(1350px);
    }

    75% {
        font-size: 14px;
    }

    100% {
        font-size: 15px;
        visibility: hidden;
    }
}

.menu-visible {
    visibility: visible;
    animation: mostarmenu 6s ease-in;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    position: fixed;
    margin-top: 0.3rem;
    background-color: rgb(12, 12, 12);
    border-bottom-color: #000;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    position: fixed;
    margin-top: 0.3rem;
    background-color: rgb(12, 12, 12);
    border-bottom-color: #000;
}

.menu-ancora:hover {
    text-decoration: underline;
    font-size: 19px;
}

.dev::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .7s infinite;
}

@keyframes piscar {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.redesociagit::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .9s infinite;
}

.redesocial-linkedin::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .9s infinite;
}

.animacaocomfoto {
    border-radius: 70px;
    width: 11em;
    height: 11em;
    transition: 3s;
}

.um:hover {
    font-size: 29px;
}

.pouco:hover {
    font-size: 29px;
}

.sobrer:hover {
    font-size: 29px;
}

.mim:hover {
    font-size: 29px;
}

#itenssoft:hover {
    font-size: 37px;
}

#itenshobbies:hover {
    font-size: 24px;
}


@keyframes deslocarrigth {
    0% {
        transform: translatex(0px);

    }

    40% {
        transform: translatex(40px);
    }

    60% {
        transform: translatex(80px);
        transition-delay: 2s;
    }

    100% {
        transform: translatex(320px);
    }
}

@keyframes deslocarleft {
    0% {
        transform: translater(0px);

    }

    40% {
        transform: translatex(-40px);
    }

    60% {
        transform: translatex(-80px);
        transition-delay: 2s;
    }

    100% {
        transform: translatex(-320px);
    }
}


.assitir {
    animation: deslocarrigth 10s ease-in alternate-reverse infinite;
}

.ler {
    animation: deslocarleft 12s ease-in alternate infinite;
}

.cultiva {
    animation: deslocarrigth 14s ease-in alternate-reverse infinite;
}

.formacao:hover {
    font-size: 24px;
}

.mais:hover {
    font-size: 33px;
    transform: rotate(10deg);
}

.cursos:hover {
    font-size: 24px;
}

#itensexperiencia:hover {
    font-size: 24px;
}

.segundoe:hover {
    transform: rotate(-20deg);
}

.m:hover {
    transform: rotate(20deg);
}

.em:hover {
    font-size: 35px;
}

.segprogramacao:hover {
    font-size: 38px;
}

.contenercontatoinfo {
    transform: rotate(-13deg);
    transition: 2s;
}

.contenercontatoinfo:hover {
    opacity: 100%;
    transition: 4s;
    transform: rotate(0deg);
}