@keyframes deslocarParaDireita {
    0% {
        transform: translatex(0px);
    }

    40% {
        transform: translatex(20px);
    }

    60% {
        transform: translatex(40px);
        transition-delay: 3s;
    }

    100% {
        transform: translatex(80px);
    }
}

@keyframes deslocarParaEsquerda {
    0% {
        transform: translater(0px);
    }

    40% {
        transform: translatex(-20px);
    }

    60% {
        transform: translatex(-40px);
        transition-delay: 3s;
    }

    100% {
        transform: translatex(-80px);
    }
}

.projeto__contener__encriptador__visualizar {
    opacity: 0;
}

@keyframes animacaodescricaoh2 {
    0% {
        opacity: 10%;
        visibility: visible;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes animacaocombutton {
    0% {
        opacity: 10%;
        visibility: visible;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

.projeto__contener__encriptador__visualizar:hover {
    animation: animacaodescricaoh2, animacaocombutton both 1.5s;
}

.projeto__contener__jogo__visualizar {
    opacity: 0;
}

.projeto__contener__jogo__visualizar:hover {
    animation: animacaodescricaoh2, animacaocombutton both 1.5s;
}

.projeto__contener__ecommerce__visualizar {
    opacity: 0;
}

.projeto__contener__ecommerce__visualizar:hover {
    animation: animacaodescricaoh2, animacaocombutton both 1.5s;
}