
.contenerconhecimento {
    height: 33em;
    margin-top: 2em;
}

.contenerpalvraconhe {
    display: flex;
    height: 100px;
}

.conhecimento {
    cursor: default;
    font-weight: bold;
    color: #223f36;
    font-size: 27px;
    padding: 20px;
}

.em {
    cursor: default;
    font-weight: bold;
    color: #223f36;
    font-size: 27px;
    padding: 20px;
}

.segprogramacao {
    cursor: default;
    font-weight: bold;
    color: #223f36;
    font-size: 27px;
    padding: 20px;
}

.contenerimagens {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imagem-html {
    width: 10%;
}

.imagem-css {
    width: 10%;
}

.imagem-javascript {
    width: 10%;
}

.sobrecss {
    padding: 30px 10px;
}

.sobrejavascript {
    padding: 40px 10px;
}

.sobrehtml {
    padding: 10px 10px 80px 10px;
}

.sobrelinguagens {
    font-family: 'Arima', cursive;
    font-size: 20px;
    color: #695429;
}

.primeirofundo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 20em;
    border-radius: 14px;
    background: linear-gradient( 10deg, #504e50, #25498b, #615c5c);
}

.palavraone {
    font-size: 30px;
}
.one {
    font-size: 70px;
    padding: 20px 20px 20px 4em;
}