.contato {
    height: 550px;
    width: 100%;
}

.contato__formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.formulario__contener {
    align-items: flex-end;
    display: flex;
    height: 180px;
    justify-content: end;
    margin-top: 1em;
    width: 100%;
}

.contener__informacao {
    align-items: center;
    background: linear-gradient(60deg, #2d134e, #213744, #573838);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 12em;
    justify-content: space-around;
    margin-right: 2em;
    opacity: 100%;
    transform: rotate(-13deg);
    transition: 2s;
    width: 16em;
}

.contener__informacao:hover {
    transition: 4s;
    transform: rotate(0deg);
}

.informacao__titulo {
    font-size: 25px;
    margin-top: 1em;
    text-align: center;  
}

.informacao__descricao {
    font-size: 18px;
    margin-bottom: 1em;
    text-align: center;
}

.formulario__preencher {
    background: linear-gradient(50deg, #2d134e, #213744);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 22em;
    justify-content: space-evenly;
}

.preencher__contener {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.preencher__nome {
    border: 1px solid;
    border-color: #000;
    background-color: #484574;
    border-radius: 6px;
    font-size: 18px;
    height: 35px;
    margin: 52px 20px 10px 20px;
    text-align: center;
    width: 30em;
}

.label__nome {
    font-size: 18px;
    margin-left: 2em;
    margin-top: 1em;
    text-align: left;
    width: 30%;
}

.erro__nome {
    border-color: #7c1b1f;
}

.contener__nome {
    color: #7c1b1f; 
}

.preencher__email {
    border: 1px solid;
    border-color: #000;
    background-color: #484574;
    border-radius: 6px;
    font-size: 18px;
    height: 45px;
    margin-top: 3em;
    text-align: center;
    width: 30em;
}

.erro__email {
    border-color: #7c1b1f;
}

.label__email {
    font-size: 18px;
    margin-left: 1em;
    margin-top: 1em;
    text-align: left;
    width: 30%;
}

.contener__email {
    color:  #7c1b1f;
}

.preencher__contener--left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 94px;
    margin-top: 1em;
    width: 100%;
}

.preencher__motivo {
    border: 1px solid;
    border-color: #000;
    background-color: #484574;
    border-radius: 6px;
    font-size: 18px;
    height: 5em;
    text-align: center;
    width: 30em;
}

.erro__motivo {
    border-color: #7c1b1f;
}

.label__motivo {
    font-size: 18px;
    margin: 20px;
    text-align: left;
    width: 30%;
}

.contener__motivo {
   color: #7c1b1f;
}

.preencher__btn {
    background-color: #1a5aa3;
    border-radius: 6px;
    font-size: 18px;
    height: 2em;
    position: absolute;
    right: 17%;
    top: 5317px;
    width: 9em;
}

.preencher__btn:hover {
    font-size: 19px;
}

.preencher__btn:active {
    font-size: 17px;
}

.span__erro {
    color: #7c1b1f;
    font-size: 20px;
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 5400px;
    visibility: hidden;
}
