    .contato {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .contato__titulo {
        width: 100%;
    }

    .contato__container {
        align-items: center;
        display: flex;
        height: 450px;
        justify-content: space-evenly;
        width: 100%;
    }

    .container__form {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 55%;
    }

    .form__titulo {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.4em;
        margin-bottom: 1.4em;
    }

    .contato__titulo h5 {
        background: #171a1c;
        border-radius: 20px;
        box-shadow: #000000e8 0px 20px 30px -10px;
        font-family: 'Lora', serif;
        font-size: 26px;
        margin-bottom: 0.6em;
        margin-left: 0.8em;
        padding: 6px 0px;
        text-align: center;
        width: 166px;
    }

    .form__titulo h6 {
        background: #171a1c;
        border-radius: 11px;
        box-shadow: #000000e8 0px 20px 30px -10px;
        font-family: 'Lora', serif;
        font-size: 24px;
        left: auto;
        margin-bottom: 0.6em;
        margin-left: 0.8em;
        padding: 10px 10px;
        position: absolute;
        text-align: center;
        top: auto;
        width: auto;
    }

    .form__label-input {
        background: transparent;
        border: 1.9px solid #2f3b45;
        border-radius: 10px;
        height: auto;
        margin-left: 1.2em;
        padding: 20px 30px;
        width: 70%;
    }

    .form__label-input div {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90%;
    }

    .form__label-input label {
        font-family: 'Lora', serif;
        font-size: 16.5px;
    }

    .form__label-input input {
        background-color: transparent;
        border: none;
        border-bottom: 1.9px solid #222528;
        color: #fff;
        font-size: 15px;
        height: 30px;
        margin: 12px 0px 20px 10px;
        width: auto;
    }

    .form__label-input input:focus {
        border-bottom: 2px solid #2e3135;
        outline: none;
        padding: 0px 2px;
        width: 102%;
    }

    .form__label-input input::placeholder {
        color: #5f6264;
        font-size: 15px;
    }

    .form__agradecimentos {
        align-items: end;
        background: transparent;
        border: 1.9px solid #2f3b45;
        border-radius: 10px;
        display: flex;
        display: none;
        flex-direction: column;
        height: auto;
        justify-content: space-evenly;
        padding: 20px 40px;
        width: 30%;
    }

    .form__agradecimentos h6 {
        align-items: center;
        background: transparent;
        border: 1.9px solid #2f3b45;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-family: 'Lora', serif;
        font-size: 16.5px;
        height: 20px;
        justify-content: center;
        margin: 0px;
        width: 25px;
    }

    .form__agradecimentos h6:hover {
        border-radius: 6px;
        width: 25.5px;
    }

    .form__agradecimentos h6:active {
        border-radius: 4px;
        width: 24.8px;
    }

    .form__agradecimentos p {
        text-align: left;
        width: 100%;
    }

    .contato__container span {
        background: #271e21;
        border-radius: 9px;
        display: none;
        margin-top: 1em;
        padding: 10px 10px;
    }

    .contato__container a {
        background-color: transparent;
        border: 1.9px solid #222528;
        border-radius: 10px;
        color: #b5bbc9;
        cursor: pointer;
        height: auto;
        margin-top: 1.5em;
        padding: 10px 40px;
        width: auto;
    }

    .contato__container a:hover {
        background: #1a1c1c;
        border-radius: 11px;
    }

    .contato__container a:active {
        background: #151818;
        border-radius: 9px;
    }

    @media screen and (max-width: 760px) {
        .contato {
            height: 700px;
        }

        .contato__container {
            flex-direction: column-reverse;
            height: auto;
        }

        .form__agradecimentos {
            margin-bottom: 2em;
            margin-top: 2em;
        }
    }