
.curriculo {
    margin: 2em 0;
}

.curriculo__titulo {
    margin: 2em 0;
    width: 100%;
}

.titulo__descricao--color {
    font-weight: bold;
    margin-left: 9%;
    color: #3749bb;
}

.titulo__descricao--color:hover {
    font-size: 28px;
}

.curriculo__meu {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
    width: 100%;
}

.curriculo__btn {
    background: linear-gradient(20deg,#8b3d25, #4b2121);
    border-radius: 10px;
}

.curriculo__btn:hover  {
    font-size: 21px;
    height: 48px;
    width: 202px;
}

.curriculo__btn:active {
    font-size: 19px;
    height: 46px;
    width: 198px;
}

.curriculo__ancora {
    color: #fff;
    text-decoration: none;
}
