
.curriculo {
    margin: 2em 0;
}

.curriculo p {
    background: #171a1c;
    border-radius: 20px;
    box-shadow: #000000e8 0px 20px 30px -10px;
    font-family: 'Lora', serif;
    font-size: 26px;
    margin-bottom: 0.6em;
    margin-left: 0.8em;
    padding: 6px 0px;
    text-align: center;
    width: 166px;
}

.curriculo__meu {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
    width: 100%;
}

.curriculo__btn {
    background: linear-gradient(20deg,#8b3d25, #4b2121);
    border-radius: 10px;
}

.curriculo__btn:hover  {
    font-size: 21px;
    height: 48px;
    width: 202px;
}

.curriculo__btn:active {
    font-size: 19px;
    height: 46px;
    width: 198px;
}

.curriculo__ancora {
    color: #fff;
    text-decoration: none;
}
