.formacoes-cursos {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 2em 0;
    width: 100%;
}

.formacoes-cursos__titulo {
    width: 100%;
}

.formacoes-cursos__titulo h4 {
    background: #171a1c;
    border-radius: 20px;
    box-shadow: #000000e8 0px 20px 30px -10px;
    font-family: 'Lora', serif;
    font-size: 26px;
    margin-bottom: 0.6em;
    margin-left: 0.8em;
    padding: 6px 0px;
    text-align: center;
    width: 220px;
}

.formacoes-cursos__formacoes {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    width: 80%;
}

.formacoes-cursos__formacoes div {
    align-items: center;
    background: transparent;
    border: 1.9px solid #2f3b45;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 20px 30px;
    text-align: center;
}

.formacoes-cursos__formacoes img {
    width: 62px;
}

.formacoes-cursos__formacoes h1 {
    font-family: 'Lora', serif;
}

.formacoes-cursos__formacoes h2 {
    font-size: 16px;
}

.formacoes-cursos__cursos {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
}

.formacoes-cursos__cursos ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.formacoes-cursos__cursos li {
    background: transparent;
    border: 1.9px solid #2f3b45;
    border-radius: 15px;
    height: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 15px 16px;
    text-align: center;
    width: auto;
}

@media screen and (max-width: 440px) {
    .formacoes-cursos__formacoes {
        height: auto;
    }

    .formacoes-cursos__formacoes h1 {
        font-size: 15px;
    }

    .formacoes-cursos__formacoes div {
        height: 200px;
        width: 82%;
    }
}

@media screen and (min-width: 441px) {
    .formacoes-cursos__formacoes {
        flex-direction: row;
        height: auto;
        justify-content: center;
    }

    .formacoes-cursos__formacoes div {
        height: 175px;
        width: 37%;
    }

    .formacoes-cursos__formacoes h1 {
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    .formacoes-cursos__formacoes {
        height: 450px;
        justify-content: flex-start;
        flex-direction: column;
    }

    .formacoes-cursos__formacoes div {
        height: 140px;
        width: 30%;
    }

    .formacoes-cursos__formacoes h1 {
        font-size: 18px;
    }
}