.formacao {
    margin: 2em 0;
    width: 100%;
}

.formacao__nome {
    margin: 2em 0;
    width: 100%;
}

.nome__formacoes {
    color: #7944b9;
    font-weight: bold;
    margin-left: 9%;
}

.nome__formacoes:hover {
    font-size: 28px;
}

.formacao__onde {
    display: flex;
    height: 300px;
    margin-top: 3em;
    width: 100%;
}

.onde__ancora {
    text-decoration: none;
}

.onde__nome {
    background: #15191c;
    border-radius: 20px;
    line-height: 25px;
    padding: 20px;
}

.nome__one {
    color: #c0b9ad;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.nome__one:hover {
    font-size: 21px;
}

.nome__one:active {
    font-size: 19px;
}

.formacao__descricao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.descricao__empresas {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.empresas__ancora {
    color: #c0b9ad;
    text-decoration: none;
}

.empresas__oracle {
    text-align: center;
}

.empresas__oracle:hover {
    font-size: 51px;
} 

.empresas__oracle:active {
    font-size: 48px;
}

.empresas__simbolo {
    text-align: center;
}

.empresas__alura {
    text-align: center;
}

.empresas__alura:hover {
    font-size: 51px;
}

.empresas__alura:active {
    font-size: 48px;
}

.descricao__minha {
    background: #15191c;
    border-radius: 20px;
    line-height: 25px;
    padding: 20px;
}
