.formacao {
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-around;
    margin: 1em 0;
    width: 100%;
}

.formacao h4 {
    background: #171a1c;
    border-radius: 20px;
    box-shadow: #000000e8 0px 20px 30px -10px;
    font-family: 'Lora', serif;
    font-size: 26px;
    margin-bottom: 0.6em;
    margin-left: 0.8em;
    padding: 6px 0px;
    text-align: center;
    width: 166px;
}

.formacao div:last-child {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
}

.formacao h5 {
    font-family: 'Lora', serif;
    font-size: 35px;
    padding: 0px 30px;
    width: auto;
}

.formacao p {
    background: #15191c;
    border-radius: 20px;
    line-height: normal;
    padding: 20px;
    white-space-collapse: break-spaces;
    width: 55%;
}

@media screen and (max-width: 440px) {
    .formacao {
        height: 835px;
    }

    .formacao div:last-child {
        flex-direction: column;
        height: 790px;
        justify-content: space-evenly;
    }

    .formacao p {
        width: 75%;
    }
}

@media screen and (min-width: 441px) {
    .formacao {
        height: 550px;
    }

    .formacao div:last-child {
        flex-direction: column;
        height: 500px;
        justify-content: space-evenly;
    }

    .formacao p {
        width: 80%;
    }
}

@media screen and (min-width: 1000px) {
    .formacao {
        height: 350px;
    }

    .formacao div:last-child {
        flex-direction: row;
        height: 150px;
        justify-content: center;
    }

    .formacao p {
        width: 55%;
    }
}