header {
    height: 40px;
}

header ul {
 display: flex;
 flex-direction: row;
 justify-content: end;
 align-items: flex-end;
 height: 100%;
}

header li {
    padding: 0px 7%;
    font-family: 'Lora', serif;
    font-size: 18px;
}