.hobbies {
    height: 450px;
    margin: 2em 0;
}

.contener__titulo {
    height: 50px;
    margin: 2em 0;
    width: 100%;
}

.titulo__nome {
    color: #504d2b;
    cursor: default;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    margin-left: 9%;
}

.titulo__nome:hover {
    font-size: 29px;
}

.hobbies__tipo {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-around;
    margin-bottom: 1em;
    width: 100%;
}

.tipo__assitir {
    background: linear-gradient(60deg,#a1772200, #483e83);
    border-radius: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Arima', cursive;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding: 20px 100px;
}

.tipo__ler {
    background: linear-gradient(60deg,#a1772200, rgb(68, 40, 7));
    border-radius: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Arima', cursive;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding: 20px 80px;
}

.tipo__cultiva {
    background: linear-gradient(60deg,#a1772200, #2b534f);
    border-radius: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Arima', cursive;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding: 20px 120px;
}