.hobbies {
    margin: 2em 0;
}

.titulo__nome {
    color: #504d2b;
    cursor: default;
    display: inline-block;
    font-weight: bold;
    margin-left: 9%;
}

.titulo__nome:hover {
    font-size: 29px;
}

.hobbies__tipo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tipo__assitir {
    background: linear-gradient(60deg,#a1772200, #483e83);
    border-radius: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Arima', cursive;
    font-family: 'Caveat', cursive;
}

.tipo__ler {
    background: linear-gradient(60deg,#a1772200, rgb(68, 40, 7));
    border-radius: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Arima', cursive;
    font-family: 'Caveat', cursive;
}

.tipo__cultiva {
    background: linear-gradient(60deg,#a1772200, #2b534f);
    border-radius: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Arima', cursive;
    font-family: 'Caveat', cursive;
}