body {
    background-color: #0D1216;
    color: #b5bbc9;
    font-size: 18px;
    width: 100%;
}

.main__contener {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-evenly;
    margin-bottom: 2em;
    margin-top: 2em;
    flex-wrap: wrap;
}

.imagens__autorais {
    height: 150px;
    margin-bottom: 3em;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.autorais__titulo {
    font-size: 20px;
    margin-top: 3em;
}

.autorais__informacoes {
    font-size: 18px;
    width: 80%;
}

.contener__icone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
    margin-top: 4em;
    align-items: center;
    width: 30%;
}

.contener__icone a {
    color: #b5bbc9;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
}

.contener__icone a:hover {
    background: #171a1c;
    border-radius: 10px;
    padding: 8px 10px;
}

.informacoes {
    font-size: 18px;
}

.imagens__ancora {
    color: rgb(192, 185, 173);
    font-size: 18px;
    width: 300px;
}

.imagens__ancora:hover {
    font-size: 19px;
}

.autoral__desenvolvedor {
    margin-left: 35%;
}