.linguagens {
    margin-bottom: 3em;
    margin-top: 2em;
}

.contener__titulo--size {
    color: #326d5a;
    cursor: default;
    font-weight: bold;
    margin-left: 9%;
}

.contener__imagens {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.imagens__contener--size {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imagens__linguagem {
    margin-bottom: 2em;
    margin-top: 2em;
}

.imagens__nome {
    color: #b8892d;
    font-family: 'Arima', cursive;
}

.imagens__nome:hover {
    font-size: 27px;
}