.projeto {
    margin: 2em 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.projeto__titulo {
    width: 100%;
}

.projeto h5 {
    background: #171a1c;
    border-radius: 20px;
    box-shadow: #000000e8 0px 20px 30px -10px;
    font-family: 'Lora', serif;
    font-size: 26px;
    margin-bottom: 0.6em;
    margin-left: 0.8em;
    padding: 6px 0px;
    text-align: center;
    width: 166px;
}

.projetos__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 1.7em;
    flex-wrap: wrap;
}

.container__calculadora-oes,
.container__encriptador,
.container__jogo,
.container__ecommerce,
.container__listar,
.container__upload-ai {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin: 25px 0px;
}

.container__calculadora-oes--div,
.container__encriptador--div,
.container__jogo--div,
.container__ecommerce--div,
.container__listar--div,
.container__upload-ai--div {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.calculadora-oes__informacoes,
.encriptador__informacoes,
.jogo__informacoes,
.ecommerce__informacoes,
.listar__informacoes,
.upload-ai__informacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41vh;
}

.calculadora-oes__img,
.encriptador__img,
.jogo__img,
.ecommerce__img,
.listar__img,
.upload-ai__img {

    border-radius: 20px;
    border: 1.9px solid #343a3f;
    height: 250px;
    width: 400px;
}

.calculadora-oes__descricao,
.encriptador__descricao,
.jogo__descricao,
.ecommerce__descricao,
.listar__descricao,
.upload-ai__descricao {

    background: transparent;
    border: 1.9px solid #2f3b45;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    height: auto;
    text-align: center;
    display: none;
    width: 51%;
    margin-top: 2em;
}

.descricao__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.calculadora-oes__descricao button,
.encriptador__descricao button,
.jogo__descricao button,
.ecommerce__descricao button,
.listar__descricao button,
.upload-ai__descricao button {

    cursor: pointer;
    background: transparent;
    border: 1.9px solid #2f3b45;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

.calculadora-oes__descricao button:hover,
.encriptador__descricao button:hover,
.jogo__descricao button:hover,
.ecommerce__descricao button:hover,
.listar__descricao button:hover,
.upload-ai__descricao button:hover {

    border-radius: 2px;
}

.calculadora-oes__descricao button:active,
.encriptador__descricao button:active,
.jogo__descricao button:active,
.ecommerce__descricao button:active,
.listar__descricao button:active,
.upload-ai__descricao button:active {

    border-radius: 7px;
}

.calculadora-oes__descricao p,
.encriptador__descricao p,
.jogo__descricao p,
.ecommerce__descricao p,
.listar__descricao p,
.upload-ai__descricao p {

    align-items: center;
    display: flex;
    height: auto;
    line-height: 25px;
    margin-bottom: 1em;
    text-align: left;
}

.descricao__tecnologias {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.descricao__tecnologias div:first-child {
    display: flex;
    justify-content: flex-start;
}

.descricao__tecnologias h2 {
    border-radius: 15px;
    background: #15191c;
    padding: 10px 20px;
}

.descricao__tecnologias img {
    height: 40px;
    margin: 0 20px;
    width: 40px;
    border: 1.9px solid #343a3f;
    border-radius: 10px;
}

.calculadora-oes__titulo-botoes,
.encriptador__titulo-botoes,
.jogo__titulo-botoes,
.ecommerce__titulo-botoes,
.listar__titulo-botoes,
.upload-ai__titulo-botoes {

    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    left: auto;
    position: absolute;
    text-align: center;
    top: auto;
    width: 400px;
    background-color: #0d1216b3;
    opacity: 0%;
}

.calculadora-oes__titulo-botoes:hover,
.encriptador__titulo-botoes:hover,
.jogo__titulo-botoes:hover,
.ecommerce__titulo-botoes:hover,
.listar__titulo-botoes:hover,
.upload-ai__titulo-botoes:hover {

    opacity: 100%;
}

.calculadora-oes__titulo-botoes h2,
.encriptador__titulo-botoes h2,
.jogo__titulo-botoes h2,
.ecommerce__titulo-botoes h2,
.listar__titulo-botoes h2,
.upload-ai__titulo-botoes h2 {

    background: #171a1c;
    box-shadow: #000000e8 0px 20px 30px -10px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Noto Serif JP', serif;
    padding: 10px 20px;
}

.calculadora-oes__titulo-botoes div,
.encriptador__titulo-botoes div,
.jogo__titulo-botoes div,
.ecommerce__titulo-botoes div,
.listar__titulo-botoes div,
.upload-ai__titulo-botoes div {

    display: flex;
    justify-content: space-evenly;
}

.calculadora-oes__titulo-botoes button,
.encriptador__titulo-botoes button,
.jogo__titulo-botoes button,
.ecommerce__titulo-botoes button,
.listar__titulo-botoes button,
.upload-ai__titulo-botoes button {

    background: #1c2124;
    border: none;
    border-radius: 15px;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    font-family: 'Noto Serif JP', serif;
    border: 1.9px solid #343a3f;
    height: auto;
    margin: 0px 7px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .projeto {
        align-items: flex-start;
    }

    .projetos__container {
        align-items: center;
    }

    .container__calculadora-oes,
    .container__encriptador,
    .container__jogo,
    .container__ecommerce,
    .container__listar,
    .container__upload-ai {

        width: 90%;
    }

    .calculadora-oes__img,
    .encriptador__img,
    .jogo__img,
    .ecommerce__img,
    .listar__img,
    .upload-ai__img {

        height: 200px;
        width: 100%;
    }

    .calculadora-oes__titulo-botoes,
    .encriptador__titulo-botoes,
    .jogo__titulo-botoes,
    .ecommerce__titulo-botoes,
    .listar__titulo-botoes,
    .upload-ai__titulo-botoes {

        height: 200px;
        width: 86%;
    }

    .calculadora-oes__titulo-botoes button,
    .encriptador__titulo-botoes button,
    .jogo__titulo-botoes button,
    .ecommerce__titulo-botoes button,
    .listar__titulo-botoes button,
    .upload-ai__titulo-botoes button {

        padding: 5px 2px;
        font-size: 14px;
    }

    .calculadora-oes__descricao,
    .encriptador__descricao,
    .jogo__descricao,
    .ecommerce__descricao,
    .listar__descricao,
    .upload-ai__descricao {

        width: 71%;
    }

    .descricao__tecnologias {
        height: 200px;
    }
}

@media screen and (min-width: 481px) {

    .projetos__container {
        align-items: center;
    }

    .calculadora-oes__descricao,
    .encriptador__descricao,
    .jogo__descricao,
    .ecommerce__descricao,
    .listar__descricao,
    .upload-ai__descricao {

        width: 71%;
    }

    .descricao__tecnologias {
        height: 180px;
    }
}
