.projetos {
    margin: 2em 0;
}

.projetos__titulo {
    margin: 2em 0;
    width: 100%;
}

.titulo__projetos--color {
    color: #7a3747;
    cursor: default;
    font-weight: bold;
    margin-left: 9%;
}

.titulo__projetos--color:hover {
    font-size: 28px;
}

.projetos__resumo {
    margin: 1em 0;
    width: 100%;
}

.projetos__descricao {
    align-items: center;
    display: flex;
    font-family: 'Arima', cursive;
    justify-content: space-around;
    margin-top: 2em;
}

.resumo__encriptador {
    line-height: 22px;
}

.resumo__jogo {
    line-height: 22px;
}