.projeto {
    margin: 2em 0;
}

.projeto h5 {
    background: #171a1c;
    border-radius: 20px;
    box-shadow: #000000e8 0px 20px 30px -10px;
    font-family: 'Lora', serif;
    font-size: 26px;
    margin-bottom: 0.6em;
    margin-left: 0.8em;
    padding: 6px 0px;
    text-align: center;
    width: 166px;
}

.projeto__contener {
    height: 100%;
    width: 100%;
}

.projeto__contener__encriptador {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
}

.projeto__contener__encriptador__descricao {
    display: flex;
}

.projeto__contener__encriptador__descricao__img {
    border-radius: 20px;
    border: 2px solid #3a3636;
    height: 250px;
    width: 400px;
}

.projeto__contener__encriptador__descricao__popup__contener {
    background: #161616;
    border-radius: 30px;
    height: auto;
    left: auto;
    position: absolute;
    text-align: center;
    visibility: hidden;
}

.projeto__contener__encriptador__descricao__popup__contener__h1 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;
}

.projeto__contener__encriptador__descricao__popup__contener__h1__x {
    cursor: pointer;
    font-size: 18px;
    margin-top: 0.5em;
    text-align: center;
    width: 8%;
}

.projeto__contener__encriptador__descricao__popup__contener__h1__x:hover {
    font-size: 19px;
}

.projeto__contener__encriptador__descricao__popup__contener__h1__x:active {
    font-size: 17px;
}

.projeto__contener__encriptador__descricao__popup__contener p {
    align-items: center;
    display: flex;
    height: auto;
    line-height: 25px;
    margin-bottom: 1em;
    text-align: left;
}

.projeto__contener__encriptador__descricao__popup__contener__tecnologias {
    align-items: center;
    background: #161616;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projeto__contener__encriptador__descricao__popup__contener__tecnologias div {
    align-items: center;
    display: flex;
    height: 60px;
    margin: 8px 0;
}

.projeto__contener__encriptador__descricao__popup__contener__tecnologias h1 {
    font-size: 20px;
    width: 96%;
}

.projeto__contener__encriptador__descricao__popup__contener__tecnologias__img {
    height: 40px;
    margin: 0 20px;
    width: 40px;
}

.projeto__contener__encriptador__descricao__popup__contener__tecnologias__img:hover {
    margin-bottom: 0.4em;
}

.projeto__contener__encriptador__visualizar {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    left: auto;
    position: absolute;
    text-align: center;
    top: auto;
    width: 400px;
}

.projeto__contener__encriptador__visualizar h2 {
    background: #272525;
    border-radius: 15px;
    color: #fff;
    font-family: 'Kalam', cursiva;
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: underline;
}

.projeto__contener__encriptador__visualizar__btn {
    display: flex;
    justify-content: space-evenly;
}

.projeto__contener__encriptador__visualizar button {
    background: #861a33;
    border-radius: 15px;
    border: solid 2px #1d1515;
    color: #fff;
    cursor: pointer;
}

.projeto__contener__jogo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projeto__contener__jogo__descricao {
    display: flex;
    width: 100%;
}

.projeto__contener__jogo__descricao__img {
    border-radius: 20px;
    border: 2px solid #3a3636;
    height: 250px;
    width: 400px;
}

.projeto__contener__jogo__descricao__popup__contener {
    background: #161616;
    border-radius: 30px;
    height: auto;
    left: auto;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 3350px;
    visibility: hidden;
    width: 62%;
}

.projeto__contener__jogo__descricao__popup__contener__h1 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;
}

.projeto__contener__jogo__descricao__popup__contener__h1__x {
    cursor: pointer;
    font-size: 18px;
    margin-top: 0.5em;
    text-align: center;
    width: 8%;
}

.projeto__contener__jogo__descricao__popup__contener__h1__x:hover {
    font-size: 19px;
}

.projeto__contener__jogo__descricao__popup__contener__h1__x:active {
    font-size: 17px;
}

.projeto__contener__jogo__descricao__popup__contener p {
    display: flex;
    height: auto;
    line-height: 25px;
    margin-bottom: 2em;
    text-align: left;
}

.projeto__contener__jogo__descricao__popup__contener__tecnologias {
    align-items: center;
    background: #161616;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projeto__contener__jogo__descricao__popup__contener__tecnologias div {
    align-items: center;
    display: flex;
    height: 60px;
    margin: 8px 0;
}

.projeto__contener__jogo__descricao__popup__contener__tecnologias h1 {
    font-size: 20px;
    width: 96%;
}

.projeto__contener__jogo__descricao__popup__contener__tecnologias__img {
    height: 40px;
    margin: 0 20px;
    width: 40px;
}

.projeto__contener__jogo__descricao__popup__contener__tecnologias__img:hover {
    margin-bottom: 0.4em;
}

.projeto__contener__jogo__visualizar {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    left: auto;
    position: absolute;
    text-align: center;
    top: auto;
    width: 400px;
}

.projeto__contener__jogo__visualizar h2 {
    background: #363434;
    border-radius: 15px;
    color: #fff;
    font-family: 'Kalam', cursiva;
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: underline;
}

.projeto__contener__jogo__visualizar__btn {
    display: flex;
    justify-content: space-evenly;
}

.projeto__contener__jogo__visualizar button {
    background: #861a33;
    border-radius: 15px;
    border: solid 2px #1d1515;
    color: #fff;
    cursor: pointer;
}

.projeto__contener__ecommerce {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projeto__contener__ecommerce__descricao {
    display: flex;
    width: 100%;
}

.projeto__contener__ecommerce__descricao__img {
    border-radius: 20px;
    border: 2px solid #3a3636;
}

.projeto__contener__ecommerce__descricao__popup__contener {
    background: #161616;
    border-radius: 30px;
    height: auto;
    left: auto;
    position: absolute;
    text-align: center;
    visibility: hidden;
}

.projeto__contener__ecommerce__descricao__popup__contener__h1 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;
}

.projeto__contener__ecommerce__descricao__popup__contener__h1__x {
    cursor: pointer;
    font-size: 18px;
    margin-top: 0.5em;
    text-align: center;
    width: 8%;
}

.projeto__contener__ecommerce__descricao__popup__contener__h1__x:hover {
    font-size: 19px;
}

.projeto__contener__ecommerce__descricao__popup__contener__h1__x:active {
    font-size: 17px;
}

.projeto__contener__ecommerce__descricao__popup__contener p {
    align-items: center;
    display: flex;
    height: auto;
    line-height: 25px;
    margin-bottom: 2em;
    text-align: left;
}

.projeto__contener__ecommerce__descricao__popup__contener__tecnologias {
    align-items: center;
    background: #161616;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projeto__contener__ecommerce__descricao__popup__contener__tecnologias div {
    align-items: center;
    display: flex;
    height: 60px;
    margin: 8px 0;
}

.projeto__contener__ecommerce__descricao__popup__contener__tecnologias h1 {
    font-size: 20px;
    width: 96%;
}

.projeto__contener__ecommerce__descricao__popup__contener__tecnologias__img {
    height: 40px;
    margin: 0 20px;
    width: 40px;
}

.projeto__contener__ecommerce__descricao__popup__contener__tecnologias__img:hover {
    margin-bottom: 0.4em;
}

.projeto__contener__ecommerce__visualizar {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    left: auto;
    position: absolute;
    text-align: center;
    top: auto;
    width: 400px;
}

.projeto__contener__ecommerce__visualizar h2 {
    background: #444242;
    border-radius: 15px;
    color: #fff;
    font-family: 'Kalam', cursiva;
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: underline;
    width: auto;
}

.projeto__contener__ecommerce__visualizar__btn {
    display: flex;
    justify-content: space-evenly;
}

.projeto__contener__ecommerce__visualizar button {
    background: #861a33;
    border-radius: 15px;
    border: solid 2px #1d1515;
    color: #fff;
    cursor: pointer;
}