.redesociais {
   height: 400px;
   margin: 2em 0;
}

.redesociais__contener {
    margin: 2em 0;
    width: 100%;
}

.contener__redesociais {
    display: inline-block;
    color: #8b5e25;
    font-size: 27px;
    font-weight: bold;
    margin-left: 9%;
}

.contener__redesociais:hover {
    cursor: default;
    font-size: 28px;
}

.redesociais__nomes {
    align-items: center;
    display: flex;
    height: 85%;
    justify-content: space-evenly;
    margin-top: 2em;
    width: 100%;
}

.redesociais__github {
    align-items: center;
    background: linear-gradient(#2f1864, #4b2121);
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    height: 14em;
    width: 8em;
}

.github__descricao {
    font-size: 25px;
    margin-left: 1.6rem;
}

.redesociais__linkedin {
    align-items: center;
    border-radius: 14px;
    background: linear-gradient(#2a1a63, #03234b);
    display: flex;
    flex-wrap: wrap;
    height: 14em;
    width: 8em;
}

.redesociais__letras {
    color: #003989;
    font-family: 'Advent Pro', sans-serif;
    font-size: 100px;
    height: 110px;
    margin-left: 2rem;
    margin-top: 1rem;
    text-decoration: none;
}

.redesociais__letras:hover {
    font-size: 105px;
}

.redesociais__letras:active {
    font-size: 98px;
}
 
.linkedin__descricao {
    font-size: 25px;
    margin-left: 1.6rem;
}
