
.slider__encriptador {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: space-between;
    margin: 2em 7em;
    overflow: hidden;
    width: 800px;
}

.encriptador__contener {
    display: flex;
    height: 400px;
    width: 100%;
}

.encriptador__contener input {
    display: none;
}

.encriptador__labels {
    display: flex;
    justify-content: center;
    margin-left: 118px;
    margin-top: 360px;
    position: absolute;
}

.labels__btn {
    border: 2px solid #381f03;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    transition: 1s;
}

.labels__btn:not(:last-child) {
    margin-right: 100px;
}

.labels__btn:hover {
    background-color: rgb(59, 82, 117);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -100%;
}

#radio3:checked~.first {
    margin-left: -200%;
}

#radio4:checked~.first {
    margin-left: -300%;
}

#radio5:checked~.first {
    margin-left: -400%;
}

#radio6:checked~.first {
    margin-left: -500%;
}

#radio7:checked~.segfirst {
    margin-left: 0;
}

#radio8:checked~.segfirst {
    margin-left: -100%;
}

#radio9:checked~.segfirst {
    margin-left: -200%;
}

#radio10:checked~.segfirst {
    margin-left: -300%;
}

#radio11:checked~.segfirst {
    margin-left: -400%;
}

#radio12:checked~.segfirst {
    margin-left: -500%;
}

.encriptador__btn {
    background: linear-gradient(60deg, #18184d 20%, #a10f8d);
    border-radius: 10px;
    height: 45px;
    position: absolute;
    right: 80px;
    top: 280em;
    width: 220px;
}

.encriptador__btn:hover {
    height: 46px;
    width: 221px;
}

.encriptador__btn:active {
    height: 44px;
    width: 219px;
}

.encriptador__ancora {
    color: rgb(192, 185, 173);
    text-decoration: none;
    font-size: 18px;
}

.encriptador__ancora:hover {
    font-size: 19px;
}

.encriptador__ancora:active {
    font-size: 17px;
}

.slider__jogo {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: space-between;
    margin: 2em 25em;
    overflow: hidden;
    width: 800px;
}

.jogo__contener {
    display: flex;
    height: 400px;
    width: 100%;
}

.jogo__contener input {
    display: none;
}

.jogo__btn {
    background: linear-gradient(60deg, #18184d 20%, #a10f8d);
    border-radius: 10px;
    height: 45px;
    left: 80px;
    position: absolute;
    top: 314em;
    width: 220px;
}

.jogo__btn:hover {
    height: 46px;
    width: 221px;
}

.jogo__btn:active {
    height: 44px;
    width: 219px;
}

.jogo__ancora {
    color: rgb(192, 185, 173);
    font-size: 18px;
    text-decoration: none;
}

.jogo__ancora:hover {
    font-size: 19px;
}

.jogo__ancora:active {
    font-size: 17px;
}

.jogo__labels {
    display: flex;
    justify-content: center;
    margin-left: 118px;
    margin-top: 360px;
    position: absolute;
}
