
.skills {
    height: 400px;
    margin: 2em 0;
}

.skills__titulo {
    height: 70px;
    width: 100%;
}

.titulo__nome--color {
    color: #4b5d8d; 
    cursor: default;
    font-size: 27px;
    font-weight: bold;
    margin-left: 9%; 
}

.titulo__nome--color:hover {
    font-size: 28px;
}

.skills__descrevendo {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.descrevendo__lista {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    margin-bottom: 3em;
    width: 100%;
}

.descrevendo__item {
    background: linear-gradient(50deg, #4b5d8d, #612d3d);
    border-radius: 20px;
    font-weight: 200;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Arima', cursive;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding: 15px 40px;
}

.descrevendo__informacoes {
    margin-bottom: 3em;
}

