body {
    background-color: #000000;
    color: #c0b9ad;
    font-size: 18px;
    width: 100%;
}

.ola {
    width: 100%;
}

.ola__contener {
    background: linear-gradient(50deg, #000000, #003989, #993399);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contener__informacoes {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.informacoes__dev {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Kalam', cursiva;
    font-family: 'Old Standard TT', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sem serifa;
}

.informacoes__descricao {
    display: inline-block;
    font-family: 'Fredericka the Great', cursive;
}

.ola__foto {
    align-items: center;
    display: flex;
}

.foto__autor {
    border-radius: 30px;
    display: inline-block;
}

.rodape {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.rodape div {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.rodape img {
    width: 35px;
    height: 35px;
}

.desenvolvedor {
    text-align: center;
}

.imagens__autorais {
    text-decoration: underline;
}

.imagens__autorais:hover {
    font-size: 19px;
}

.imagens__autorais:active {
    font-size: 16px;
}

.rodape__ancora {
    color: rgb(192, 185, 173);
}
