body {
    background-color: #000000;
    color: rgb(192, 185, 173);
    font-size: 18px;
    width: 100%;
}

.ola {
    width: 100%;
}

.ola__contener {
    background: linear-gradient(50deg, #000000, #003989, #993399);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contener__informacoes {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.informacoes__dev {
    display: flex;
    flex-direction: row;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    flex-wrap: nowrap;
}

.informacoes__descricao {
    display: inline-block;
    font-family: 'Fredericka the Great', cursive;
}

.ola__foto {
    align-items: center;
    display: flex;
}

.foto__autor {
    border-radius: 30px;
    display: inline-block;
}

.rodape {
    align-items: center;
    background: linear-gradient(50deg, #191024, #101e25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.desenvolvedor {
    text-align: center;
}

.imagens__autorais {
    text-decoration: underline;
}

.rodape__ancora {
    color: rgb(192, 185, 173);
}

.rodape__ancora:hover {
    font-size: 19px;
}