body {
    background-color: #0D1216;
    color: #b5bbc9;
    font-size: 18px;
    width: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rodape {
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}

.rodape div {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    width: 40%;
}

.rodape img {
    height: 35px;
    width: 35px;
}

.desenvolvedor {
    text-align: center;
}

.imagens__autorais {
    text-decoration: underline;
}

.imagens__autorais:hover {
    font-size: 19px;
}

.imagens__autorais:active {
    font-size: 16px;
}

.rodape__ancora {
    color: rgb(192, 185, 173);
}
