.sobre {
    margin: 2em 0;
}

.sobre__contener {
    margin: 2em 0;
    width: 100%;
}

.contener__paragrafo {
    display: inline-block;
    color: #282d3b;
    cursor: default;
    font-weight: bolder;
}

.sobre__contener--height {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.contener__descricao {
    background: #161616;
    border-radius: 20px;
    font-size: 18px;
    line-height: 25px;
    padding: 20px;
    text-align: start;
    width: 80%;
}

