.sobre {
    height: 410px;
    margin: 2em 0;
}

.sobre__contener {
    margin: 2em 0;
    width: 100%;
}

.contener__paragrafo {
    display: inline-block;
    color: #282d3b;
    cursor: default;
    font-size: 27px;
    font-weight: bolder;
    margin-left: 8%;
}

.contener__paragrafo:hover {
    font-size: 28px;
}

.sobre__contener--height {
    margin-top: 3em;
}

.contener__descricao {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1rem;
    margin-left: 4em;
    margin-right: 3em;
    text-align: start;
}

.cotener__destacar {
    margin-left: 5em;
    margin-top: 2em;
    text-align: start;
}

.contener__autor {
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    margin-left: 5em;
    margin-top: 1em;
    text-align: start;
}

.frase {
    font-size: 18px;
    margin-left: 5em;
    margin-top: 1em;
}