@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #0D1117;
    color: #fff;
    font-size: 16px;
}

input {
    outline: none;
}

button {
    color: #fff;
}

li, h1, h2, h3, h4, h5, h6 {
    list-style-type: none;
    font-weight: normal;
}